{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center; margin: 0 auto; display: block;">Inscription</h1>

            {{ form_errors(registrationForm) }}  {# Display global form errors #}

            {{ form_start(registrationForm) }}  {# Moved this up to wrap the entire form #}

            <fieldset class="mb-3">
                <legend>Mon identité</legend>
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.email) }}  {# Email field included here #}
                {# {{ form_row(registrationForm.roles) }} #}
            </fieldset>

            <fieldset class="mb-3">
                <legend>Mes coordonnées</legend>
                {{ form_row(registrationForm.adresse) }}
                {{ form_row(registrationForm.codepostal) }}
                {{ form_row(registrationForm.ville) }}
            </fieldset>

            {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
            {{ form_row(registrationForm.RGPDConsent) }}

            <button type="submit" class="btn btn-primary btn-lg">M'inscrire</button>
         <a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
            {{ form_end(registrationForm) }}  {# Moved this to the end to wrap the form #}
        </div>
    </div>
</section>
{% endblock %}
